<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
     <style>
        body{
            margin:auto;
        }
        .content{
            margin-top: 20%;
            margin-left: 40%;
            width: 500px;
            border: 1px solid;
        }
        .box{
            width:fit-content;
            margin: auto;
            overflow: auto;
            text-align: center;
        }
        #home{
            width: 200px;
            display: block;
            margin-left: 30%;
        }
    </style>
</head>
<body>
    <div class="content">
        <form action="./combackHome/">
            <div class="box">
                <p style="text-align: center">이메일 전송에 실패하였습니다.</p>
                <p>{{error}}</p>
                <input type="submit" id="home" value="홈으로 돌아가기"/>
            </div>
        </form>
    </div>
</body>
</html>